version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: schooldb
#    ports:
#      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  app:
    build: .
    container_name: crud-operation-app
    ports:
      - "8081:8081"
    depends_on:
      - mysql

volumes:
  mysql-data:
